<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Contact Us</div>
                    <div class="panel-body">
                        <!---->

                        
                        

                    <!--    <div class="pre-captcha-wrapper">
                            <div class="captcha-wrapper">
                                <h1>Fill in the form and submit it</h1>
                                <form name="frm-sample" class="frm-sample" action="try" method="post">
                                    <input type="text" class="form-control" placeholder="Name">
                                    <div id="status-message"></div>
                                    <div id="sample-captcha"></div>
                                    <a id="check-is-filled" class='info-btn'>Check if visualCaptcha is filled</a>
                                    <button type="submit" name="submit-bt" class="submit">Submit form</button>
                                </form>
                            </div>
                        </div>-->

                        <form class="form-horizontal contact-form"  method="POST" action="http://app.datascrub.io/contact" role="form">
                            <input type="hidden" name="_token" value="pGAaerjjqeA94OmVWNfXneyxpGS1BOT1S8kPkuWq" />

                            <div class="form-group">
                                <div class="col-md-12 padbtm10">
                                    <input tabindex="1" placeholder="Name" type="text" class="form-control" name="name" value="" />
                                </div>
                                <div class="col-md-12 padbtm10">
                                    <input tabindex="2" placeholder="Email Address" type="email" class="form-control" name="email" value="" />
                                </div>
                                <div class="col-md-12 padbtm10">
                                    <textarea placeholder="Your Message" tabindex="3" rows="4" class="form-control" name="message"></textarea>
                                </div>
                                <div class="col-md-12 padbtm10">
                                    <div id="sample-captcha"></div>
                                </div>
                                <div class="col-md-12 right">
                                    <button type="submit" tabindex="4" class="submit-contact btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>