</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="centered">Copyright &copy; 2015 - All Rights Reserved. <a href="http://datascrub.io/">DataScrub.io</a></p>
            </div>
        </div>
   </div>
</footer>
</body>
</html>