 <div id="content" class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default top50">
				<div class="panel-heading">Reset Password</div>
				<div class="panel-body">
					
					
					<form class="form-horizontal" role="form" method="POST" action="http://app.datascrub.io/password/email">
						<input type="hidden" name="_token" value="pGAaerjjqeA94OmVWNfXneyxpGS1BOT1S8kPkuWq">

						<div class="form-group">
							<label class="col-md-4 control-label">E-Mail Address</label>
							<div class="col-md-6">
								<input type="email" class="form-control" name="email" value="">
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6 col-md-offset-4">
								<button type="submit" class="btn btn-primary">
									Send Password Reset Link
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>