</div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="centered">Copyright &copy; 2015 - All Rights Reserved. <a href="http://datascrub.io/">DataScrub.io</a></p>
                </div>
            </div>
        </div>
    </footer>

	<!-- Scripts -->
	<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <script src="/js/jquery-1.10.2.js"></script>
	<!--<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <!--<script src="/js/plugins/visualcaptcha.angular.js"></script>
    <script src="/js/app.js"></script>-->
    <script src="/js/login.js"></script>

    <script src="/js/plugins/visualcaptcha/js/visualcaptcha.jquery.js"></script>
    <script src="/js/plugins/visualcaptcha/js/main.js"></script>




</body>
</html>