<div id="content" class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default top50">
				<div class="panel-heading">Login</div>
				<div class="panel-body">
					<div class="alert alert-danger">
							
						</div>
					
					<form class="form-horizontal" role="form" method="POST" action="/login">
						<!--  <input type="hidden" name="_token" value="UKOPFx1opOUJweNe0t9jW4MpNm3KdJcn25GTzRy9">-->

						<div class="form-group">
							<div class="col-md-12">
                                <div class="input-group add-on">
                                    <div class="input-group-btn">
                                        <button tabindex="-1" class="btn btn-default">
                                            <i class="fa fa-envelope"></i>
                                        </button>
                                    </div>
								    <input tabindex="1" type="email" placeholder="Email" class="form-control" name="email" value="">
                                </div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
                                <div class="input-group add-on">
                                    <div class="input-group-btn">
                                        <button tabindex="-1" class="btn btn-default">
                                            <i class="fa fa-asterisk"></i>
                                        </button>
                                    </div>
								<input tabindex="2" type="password" placeholder="Password" class="form-control" name="password">
                                </div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="checkbox">
									<label>
										<input tabindex="3" type="checkbox" name="remember"> Remember Me
									</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6">
								<button type="submit" tabindex="4" class="login_btn btn btn-primary">Login</button>
                            </div>
                            <div class="col-md-6">
								<a tabindex="4" class="btn btn-link" href="/forgotpassword">Forgot Your Password?</a>
							</div>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</div>
</div>
