<nav class="navbar navbar-default">
		<div class="container container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="/images/datascrublogo200.png" alt="Datascrub"/></a>
            </div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
											<li><a href="/login">Login</a></li>
                        <li><a target="_blank" href="http://www.datascrub.io/">Sign Up</a></li>
						<li><a href="/contact">Contact</a></li>
									</ul>
			</div>
		</div>
	</nav>