<nav class="navbar navbar-default">
    <div class="container container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/datascrublogo200.png" alt="Datascrub"/></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                
                    <li><a href="/projects">Projects</a></li>
                                    <li><a href="http://app.datascrub.io/companies">Companies</a></li>
                    <li><a href="http://app.datascrub.io/users">Users</a></li>
                
                    <li><a href="/logout">Logout</a></li>
                            </ul>
            <!--<div class="pull-right" style="text-align: right;">
                <h6>WELCOME <i class="fa fa-user"></i> Supriya Uppal</h6>
                <h6>You are logged in as Admin user. <a href="http://app.datascrub.io/auth/logout">Logout</a></h6>
            </div>-->
        </div>
    </div>
</nav>