 <!-- Heading Row -->
		<header>
        <div class="row" style="height:1em;"></div>
        <div class="row">
        <div class="container">
    	<div class="col-md-5 col-lg-5 vcenter">
        <img class="img-responsive" src="http://www.datascrub.io/images/DatascrubHome.png" alt="DataScrub by Audaxium">
    </div><!--
    --><div class="col-md-7 col-lg-7 vcenter">
        <h1><strong>Datascrub</strong> is in Closed Beta</h1><hr class="full">
                <p>Remove Duplicates from your Lead Lists or CRM system. <strong><em>Intelligent algorithms find matches just like a human.</em></strong></p>

<p><strong>Datascrub</strong> is built to help you easily identify duplicates in your CRM data and then let you clean and export the results. Separate the new from the existing and eliminate the tedious process of cleaning up bad data.</p>
    </div>
</div>
</div>
<div class="row" style="height:1em;"></div>
</header>

 
  
<section class="sectiontwo" id="sectiontwo">
        <div class="container">
            
            <div class="row">
                	<h2>Remove Duplicates from your Lead Lists or CRM system</h2>
                	<p><strong>Datascrub</strong> is built to help you easily identify duplicates in your CRM data and then let you clean and export the results.</p>
                	<p>Separate the new from the existing and eliminate the tedious process of cleaning up duplicate data.

Analyse one list against itself for duplicates, or, compare two files together to see what data from the first file, matches the second list.
</p>
                
             </div><hr class="light">
             <div class="row" style="background:rgba(255,255,255,0.85); border-radius:5px;">
                <div class="col-sm-4">
                 		<h2>Before Import</h2>
                 		<p>If you import a lot of lists from external sources, like tradeshows, into your CRM, you know that you must clean up the list prior to import, or risk creating duplicates that won’t get looked at, or will confuse users. <strong>Datascrub</strong> helps determine what Leads are unique and which may already exist in your system. </p>
                </div>
                <div class="col-sm-4">
                 		<h2>Data Cleanup</h2>
                        <p>Is your CRM system a mess?  Do you have an old, well worn database where you know you’ve got a lot of similar records?  Perhaps the data is different enough that the system doesn’t flag them as duplicates.  Load your data into Datascrub and it will tell you which records match so you can clean them up.</p>
                </div>
                <div class="col-sm-4">
                 		<h2>Compare CRM Databases</h2>
                 		<p>If you’re merging data from one CRM or Marketing Automation tool into another, it’s very useful to understand what are the matching records in the two systems. <strong>Datascrub</strong> will tell you what data is unique, what might match, and what records are very highly likely to be matches.  Avoid data loading disasters. </p>
                </div>
            </div>
          <hr class="light">
            <div class="row">
              <h4 style="color:#336699;"><strong>Datascrub</strong> is built to help you easily identify duplicates in your CRM data and then let you clean and export the results.</h4>
            </div>
            
        </div>
    </section>

<div class="well" style=" background-color:#f9f9f9; border-top: 15px #ffffff solid; border-bottom: 15px #ffffff solid; background-image:url(http://www.datascrub.io/images/backgroundstarswhite.png)">
		<div class="container">
		 
			
            <div class="col-lg-12 text-center">
            <h1 style="color:#990000; margin-bottom:-10px;">Join Datascrub BETA:</h1>
			 
		    </div> 
		    <div class="col-lg-10 col-lg-offset-2 text-center">
            
			 <form class="form" role="form" action="http://www2.audaxium.com/l/3482/2015-06-29/3c3dp3" method="post">
  				<div class="row" style="margin:0px;">
                <div class="col-md-2 text-left" style="margin:0px; padding:5px">
                <p style="margin:0px; padding-top:5px">First Name:</p>
                </div>
                <div class="col-md-6 text-center" style="padding:5px">
                <input type="text" class="form-control" name="firstname" placeholder="First Name">
                </div>
                </div>
                <div class="row" style="margin:0px;">
                <div class="col-md-2 text-left" style="margin:0px; padding:5px">
                <p style="margin:0px; padding-top:5px">Last Name:</p>
                </div>
                <div class="col-md-6 text-center" style="padding:5px">
                <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                </div>
                </div>
                <div class="row" style="margin:0px;">
                <div class="col-md-2 text-left" style="margin:0px; padding:5px">
                <p style="margin:0px; padding-top:5px">Company:</p>
                </div>
                <div class="col-md-6 text-center" style="padding:5px">
                <input type="text" class="form-control" name="company" placeholder="Company">
                </div>
                </div>
               <div class="row" style="margin:0px;">
                <div class="col-md-2 text-left" style="margin:0px; padding:5px">
                <p style="margin:0px; padding-top:5px">Email Address:</p>
                </div>
                <div class="col-md-6 text-center" style="padding:5px">
                <input type="email" class="form-control" name="email" placeholder="you@youremail.com">
                </div>
                </div>
                
                
                <div class="col-md-6 col-md-offset-2 text-center">
      			<button type="submit" class="btn btn-danger">Request Access <em class="fa fa-user-plus"></em></button>
                </div>
			</form>
		    </div>
			  
		  
        </div>
  </div>




<div class="row">
  <div class="container">
  <div class="col-md-6"> <br>
  </div>
  <div class="col-md-6"> <br>
  </div>
  </div>
</div>




<div class="row navbar-fixed-bottom footer">
    
    <div class="container">
    <div class="col-md-6 col-lg-6 text-center">
    
     
      <p>Copyright &copy; 2016 &middot; All Rights Reserved &middot; <a href="http://www.datascrub.io/" >DataScrub.io</a></p>
    </div>
	<div class="col-md-6 col-lg-6 text-center">
    <img src="http://www.datascrub.io/images/datascrublogo200.png" alt="DataScrub" width="100px"  title="This is DataScrub"/>
     
    </div>
    </div>