/******************************************************************************************************************/
.top5{ margin-top:5px !important; }.top10{ margin-top:10px !important; }.top15{ margin-top:15px !important; }
.top20{ margin-top:20px !important; }.top25{ margin-top:25px !important; }.top30{ margin-top:30px !important; }
.top35{ margin-top:35px !important; }.top40{ margin-top:40px !important; }.top45{ margin-top:45px !important; }
.top50{ margin-top:50px !important; }.top55{ margin-top:55px !important; }.top60{ margin-top:60px !important; }

.left{ float:left;}
.left5{ margin-left:5px !important; }.left10{ margin-left:10px !important; }.left15{ margin-left:15px !important; }
.left18{ margin-left:18px !important; }
.left20{ margin-left:20px !important; }.left25{ margin-left:25px !important; }.left30{ margin-left:30px !important; }
.left35{ margin-left:35px !important; }.left40{ margin-left:40px !important; }.left45{ margin-left:45px !important; }
.left50{ margin-left:50px !important; }.left55{ margin-left:55px !important; }.left60{ margin-left:60px !important; }

.right{ float:right; }
.right5{ margin-right:5px !important; }.right10{ margin-right:10px !important; }.right15{ margin-right:15px !important; }
.right20{ margin-right:20px !important; }.right25{ margin-right:25px !important; }.right30{ margin-right:30px !important; }
.right35{ margin-right:35px !important; }.right40{ margin-right:40px !important; }.right45{ margin-right:45px !important; }
.right50{ margin-right:50px !important; }.right55{ margin-right:55px !important; }.right60{ margin-right:60px !important; }

.padtop5{ padding-top:5px !important; }.padtop10{ padding-top:10px !important; }.padtop15{ padding-top:15px !important; }
.padtop20{ padding-top:20px !important; }.padtop25{ padding-top:25px !important; }.padtop30{ padding-top:30px !important; }
.padtop35{ padding-top:35px !important; }.padtop40{ padding-top:40px !important; }.padtop45{ padding-top:45px !important; }
.padtop50{ padding-top:50px !important; }.padtop50{ padding-top:55px !important; }.padtop50{ padding-top:60px !important; }

.padbtm5{ padding-bottom:5px !important; }.padbtm10{ padding-bottom:10px !important; }.padbtm15{ padding-bottom:15px !important; }
.padbtm20{ padding-bottom:20px !important; }.padbtm25{ padding-bottom:25px !important; }.padbtm30{ padding-bottom:30px !important; }
.padbtm35{ padding-bottom:35px !important; }.padbtm40{ padding-bottom:40px !important; }.padbtm45{ padding-bottom:45px !important; }
.padbtm50{ padding-bottom:50px !important; }.padbtm55{ padding-bottom:55px !important; }.padbtm60{ padding-bottom:60px !important; }

.padright0{ padding-right:0 !important; }.padright5{ padding-right:5px !important; }.padright10{ padding-right:10px !important; }.padright15{ padding-right:15px !important; }
.padright20{ padding-right:20px !important; }.padright25{ padding-right:25px !important; }.padright30{ padding-right:30px !important; }
.padright35{ padding-right:35px !important; }.padright40{ padding-right:40px !important; }.padright45{ padding-right:45px !important; }
.padright50{ padding-right:50px !important; }.padright55{ padding-right:55px !important; }.padright60{ padding-right:60px !important; }

.padding0{ padding:0 !important; } .padding15{ padding:15px !important; }
.margin0{ margin:0 !important; }

.table-layout-fixed{ table-layout:fixed !important; }
.border-none{ border:0 none !important; }

.centered {
    text-align: center;
}


.block {
    float: left;
    position: relative;
    width: 100%;
    margin: 10px auto;
}

.table-list td .func3 a, .admin-tbl td .func3 a {
    color: #333333;
    float: left;
    font-size: 14px;
    margin-top: 2px;
    position: relative;
    width: 33%;
}
table tr td{ vertical-align: middle;}
.tablesorter-default .tablesorter-filter-row .disabled {
    display: none;
}

label {font-family: Arial,Helvetica,sans-serif;font-size:12px;}
html input.form-control {
    font-size: 12px;
    height: 32px;
    padding: 6px;
}

.wrap{float:left; width:100%; margin-bottom: 15px;}
.left{float:left; width:35%;}
.right{float:right; width:50%;}
input.error, textarea.error, select.error, select.error + .chosen-container { border: 1px dotted red; }
label.error {
    /* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-style: italic;
}
#errors{
    color: red;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}
form.addproduct label.error, form.editproduct label.error{
    display: none !important;
}
input, textarea, select{width:90%;}
.submitbtn {
    /*margin: 20px 0 !important;
    float: left;
    background: #9FD0D5;
    color: #000;
    padding: 5px;
    margin: 20px;*/
}
.add-options, .addbtnwrap{text-align:right;}

.form-group {
    margin-bottom: 15px;
}
.nav-logo{
    width: 15%;
    margin-right: 20px;
}
.nav-logo img{
    width: 100%;
    margin: 10px 0;
}
.form-horizontal .control-label{ text-align: left !important;}
#prodform-wrapper{border-right: 1px solid #eee;}

.ui-datepicker .ui-datepicker-header {
    height: 32px;
}
.ui-widget-header {
    color: #222222;
    font-weight: normal !important;
}
.ui-datepicker .ui-datepicker-prev-year, .ui-datepicker .ui-datepicker-next-year {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-year {
    left: 131px !important;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month {
    left: 28px !important;
    position: absolute;
    width: 76px !important;
}
.ui-datepicker .ui-datepicker-next-year {
    right: 2px !important;
}
.ui-datepicker .ui-datepicker-prev {
    left: 0 !important;
}
.ui-datepicker .ui-datepicker-next {
    left: 104px !important;
}
.ui-datepicker-title {
    margin: 0 25px !important;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-year {
     left: 160px !important;
     position: absolute;
     width: 61px !important;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 11px !important;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 38% !important;
}
.ui-datepicker .ui-datepicker-prev-year span, .ui-datepicker .ui-datepicker-next-year span {
    display: block;
    margin-left: 3px !important;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.client-list { background: #F1F1F1; border-right: 2px solid #DADADA; }
.client-list .list-group-item { background: #F1F1F1; }
.client-list ul{ list-style-type: none !important; }
a.list-group-item{ border: none !important; }

.btn.btn-success.ecm-add-project{ float: right; }

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}
.dropzone, .step-btn {
    text-align:center !important;
}
.dropzone{
    /*border: 2px dotted rgba(0, 0, 0, 0.3) !important;*/
    background: #d8d8d8;
    border: 1px solid #979797;
}
.dropzone.dz-started{
     background: #E7EFF6;
     border: 1px solid #336699;
}
.dropzone.dz-started.dz-max-files-reached{
    background: #DFF0D8;
    border: 0;
}
.dropzone .dz-preview.dz-file-preview .dz-image{ background: none;}
.dz-remove{
    margin-right: -60px !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    font-weight: bold;
    color: #000;
}
.dz-remove:hover{
    color: #000;
}

.border-btm{
    border-bottom: 1px solid #eee;
}
.remove{
    cursor: pointer !important;
    font-size: 18px !important;
}
.row h5{ font-weight: bold; }

.alert-danger{ color: #ebccd1 !important;}

input.checkbox{ width: auto !important; margin: 4px 10px 0 0 !important; float: left;}

.sortable { list-style-type: none; margin: 0; padding: 0; min-height: 120px;}

.sortable li {
    background: #D8D8D8 none repeat scroll 0 0;
    margin: 11px 0px;
    padding: 5px;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
    cursor: move;
}
.sortable li span { padding: 5px; width: auto; font-size: 12px;}
.field_type{ float:left; margin-top: 5px !important;}
#to_file1, #to_file2 {background: #F4F4F4 none repeat scroll 0 0;
    border: 1px solid #D8D8D8;
    float: left;
    min-height: 150px;
    max-width: 220px;
    min-width: 220px;
    position: relative;
    border-radius: 5px;
    padding: 0 25px;
}
#to_file1 li, #to_file2 li{ margin: 31px 0 !important;}
#field_type{ padding-top: 0 !important;}
#priority {
    padding-left: 0;
    padding-right: 0;
}
.condition .chosen-container.chosen-with-drop{ z-index: 999 !important;}
.condition .chosen-container .chosen-drop{ z-index: 1000 !important;}
.condition{border-bottom: 1px solid #eee; float: left; position: relative;}
.condition div{
    padding-left: 0;
    padding-right: 0;
}
#upload_files h6{
   /* background: #4588CC none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;*/
    font-size: 12px;
    margin: 5px 0;
    padding: 5px;
    font-weight: bold;
}
#crumbs{padding-left:0;}
#crumbs ul{
    list-style: none;
    padding-left: 0;
}
#crumbs ul li a {
    background: #336699 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 12px;
    height: 30px;
    margin: 0 15px 0 0;
    padding: 7px 30px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
}
#crumbs ul li a:after {
    border-bottom: 15px solid transparent;
    border-left: 15px solid #336699;
    border-top: 15px solid transparent;
    content: "";
    position: absolute;
    right: -15px;
    top: 0;
}
#crumbs ul li a:before {
    border-bottom: 15px solid transparent;
    border-left: 15px solid #F9FBFD;
    border-top: 15px solid transparent;
    content: "";
    left: 0;
    padding: 2px 5px 0 6px;
    position: absolute;
    top: 0;
}
#crumbs ul li:first-child a {
    border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}
#crumbs ul li:first-child a:before {
    display: none;
}

#crumbs ul li:last-child a {
    padding-right: 20px;
    border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}
#crumbs ul li:last-child a:after {
    display: none;
}
#crumbs ul li a:hover {
    background: #3B75AF;
}
#crumbs ul li a:hover:after {
    border-left-color: #3B75AF;
}

#crumbs ul li a.not{
    background: #999;
}
#crumbs ul li a.not:after{
    border-left-color: #999;
}
.nav li a{ padding-left: 25px !important; padding-right: 25px !important; color: #464646 !important;}
.nav li.active{ border-bottom: 5px solid #336699; }
.nav li.active a{ padding-bottom: 10px !important; background-color: #F8F8F8 !important;}

footer p{ margin-bottom: 0 !important;}
.btn{padding: 6px 30px !important;}
#container {
    color: #363636 !important;
    /*background-color: #ffffff;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eef4fa+100 */
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWY0ZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #eef4fa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eef4fa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eef4fa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eef4fa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eef4fa 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#eef4fa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eef4fa',GradientType=0 ); /* IE6-8 */

}

.ecm-upload-files, .ecm-upload-files:hover, .ecm-field-selection, .ecm-field-selection:hover{
    background: #666;
    border: 1px solid #484848;
}
.ecm-upload-files.active, .ecm-upload-files.active:hover, .ecm-upload-files.proceed, .ecm-upload-files.proceed:hover, .ecm-field-selection.active, .ecm-field-selection.active:hover, .ecm-upload-files.proceed, .ecm-upload-files.proceed:hover{
    background: #336699;
    border: 1px solid #2e6da4;
}
.confirm_table {
    border-collapse: separate;
    border-radius: 5px;
}

.confirm_table tr:last-child td
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 0 !important;
}
.confirm_table tr{
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}
.confirm_table tr td{
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
}
.dz-filename span, .dz-filename:hover span, .dz-size span{ background:none !important; border:0 !important;}
.dz-size span{ font-size: 12px !important; padding: 0 !important;}
.dz-size span strong{ font-weight: normal !important;}
.dropzone .dz-preview .dz-progress{
    background: rgba(206, 223, 237, 0.9) none repeat scroll 0 0;
    height: 12px;
    top: 45%;
    width: 180px;
    margin-left: -60px;
    left: 30%;
}
.dropzone .dz-preview .dz-progress .dz-upload{
    background: #336699;
}
.dropzone{ max-height: 150px; }
.dropzone .dz-preview{ max-height: 100px; margin: 10px; left: -5%;}
.dz-browser-not-supported .dz-message{
    margin: 0;
}
.fallback .dz-fallback p{ font-size:12px; font-style: italic;}
.edit{
    color: rgba(0, 0, 0, 0.9);
    font-size: 13px;
    right: -50%;
    line-height: 150%;
    max-width: 50%;
    min-width: 50%;
    max-height: 100%;
    min-height: 100%;
    position: absolute;
    text-align: center;
    top: 20%;
    z-index: 9999;
}

.dropzone .dz-preview .dz-details, .dropzone .dz-preview .dz-image{
    left: -10%;
}
.dropzone .dz-preview .dz-image{
    height: 100px;
}
.dropzone .dz-preview.dz-image-preview{ background: none;}
.dropzone .chosen-container{
    z-index: 9999;
}
.chosen-results {
    height: 120px;
}
/*.dropzone .dz-preview.dz-success .dz-success-mark{ animation: none;}*/
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark{
    left: -15%;
    top: 15%;
    margin: 0;
    color: #5CB85C;
}
.dropzone .dz-success.dz-complete .dz-success-mark, .dropzone .dz-preview.dz-error .dz-error-mark{
    opacity: 1;
}
.edit_click {
    background: #336699 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    float: left;
    padding: 5px 20px 0;
    width: 90%;
}
.edit_click label{ margin-right: 12px;}
.edit_options {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    list-style: outside none none;
   /* margin-left: 8px;*/
    padding: 5px 0 5px 8px;
    text-align: left;
    width: 90%;
}
.edit_options > li {
    padding: 4px 0px 4px 10px;
}
.notif{display: none; min-width:400px; position: fixed; bottom: 0; left; 0; z-index: 9999; background: #E7EFF6; font-size: 12px;}
.notif.active{ display: block;}
#notif_content{ min-height: 100px;}
#box_title_top, #box_title_btm{ color: #fff; background: #336699; padding: 4px 20px; width: 100%; cursor: pointer;}
#box_title_btm{ position: absolute; bottom: 0;}
#project_data_content {
    float: left;
    padding-bottom: 35px;
    position: relative;
    width: 100%;
}
#project_name_link, #processing_files {min-height: 35px; line-height: 25px; padding-left: 20px;}
#project_name_link{ border-bottom: 1px solid #336699; line-height: 40px;}
#processing_files {list-style: none; padding-left: 20px;}
.total_processing_files span{
    background: #DB524B none repeat scroll 0 0;
    border-radius: 5px;
    margin-left: 20px;
    padding: 1px 5px;
}
.total_processing_files.inactive span{ background: none; }
.notif i{ font-size: 14px; float: right; padding: 2px;}
.clickable{ text-decoration: underline; color: #336699; cursor: pointer;}
h2{ margin-top:10px; }
.ui-state-highlight{ border: 1px solid #D7D7D7; height: 32px; background: #EBEBEB;}
.field_select_header {
    border-bottom: 2px solid #babbbc;
    padding: 0;
}
.field_select_header div{
    padding-top: 0;
    padding-bottom: 0;
}
.field_select_header span{
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    padding: 5px;
    line-height: 1.1;
    float: left;
}
.placeholder_highlight{ opacity: 0.3;}
.ui-slider-range{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#396a9a+0,6492bf+100 */
    background: #396a9a; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5NmE5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NDkyYmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #396a9a 0%, #6492bf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#396a9a), color-stop(100%,#6492bf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #396a9a 0%,#6492bf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #396a9a 0%,#6492bf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #396a9a 0%,#6492bf 100%); /* IE10+ */
    background: linear-gradient(to right,  #396a9a 0%,#6492bf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396a9a', endColorstr='#6492bf',GradientType=1 ); /* IE6-8 */

    -moz-box-shadow:    inset 0 0 10px #273D54;
    -webkit-box-shadow: inset 0 0 10px #273D54;
    box-shadow:         inset 0 0 10px #273D54;
}
#slider-logic{
    background: #F4F5F5;
    height: 1.1em;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
}
.ui-slider-handle{
    height: 1.5em !important;
    width: 1.5em !important;
    border-radius: 15px;
    background: #F3F3F3 !important;
    border: 1px solid #F3F3F3 !important;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
}
#analysis_data .tooltip{
    position:absolute;
    z-index:99;
    opacity: 1 !important;
    background:
}
#analysis_data .ui-slider-handle:before
{
    content: "";
    position: absolute;
    border-top: 10px solid #336699;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    /*visibility: hidden;*/
    top: -19px;
    left: 2px;
    visibility: visible;
    -moz-transition: visibility 0s linear .3s;
}

#analysis_data .ui-slider-handle:after
{
    position: absolute;
    content: attr(bubbletooltip);
    color: #FFF;
    font-weight:bold;
    top: -55px;
    left: -12px;
    background: #336699;
    padding: 8px 18px;
    -moz-border-radius: 8px;
    -webkit-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius: 8px;
    white-space: nowrap;
    visibility: visible;
    -moz-transition: visibility 0s linear .3s;
    /*visibility: hidden;*/
    -webkit-box-shadow: 0px -5px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 15px -8px rgba(0,0,0,0.75);
    box-shadow: 0px -5px 15px -8px rgba(0,0,0,0.75);
    font-size: 14px;
}

/*
#analysis_data .ui-slider-handle:hover:before, #analysis_data .ui-slider-handle:hover:after
{
    visibility: visible;
    -moz-transition: visibility 0s linear .3s;
}*/
.pagination{
    float: right;
    margin: 0;
}
span.question {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #89A4CC;
    line-height: 18px;
    color: White;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    position: relative;
}
span.question:hover { background-color: #3D6199; }
/*div.qtooltip {
    background-color: #3D6199;
    color: White;
    position: absolute;
    left: 25px;
    top: -25px;
    z-index: 1000000;
    width: 250px;
    border-radius: 5px;
}
div.qtooltip:before {
    border-color: transparent #3D6199 transparent transparent;
    border-right: 6px solid #3D6199;
    border-style: solid;
    border-width: 6px 6px 6px 0px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    left: -6px;
}
div.qtooltip p {
    margin: 10px;
    color: White;
}*/

div#pop-up {
    display: none;
    position: absolute;
    width: 280px;
    padding: 20px;
    background: #eeeeee;
    border: 1px solid #336699;
    right: 0;
    z-index: 9999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-height: 200px;
}


#tabs {
    padding: 0px;
    background: none;
    border-width: 0px;
}
#tabs .ui-tabs-nav {
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #336699 none repeat scroll 0 0;
    border: 1px solid #336699;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
    color: #ffffff;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    background: #F8FAFD url("/images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50%;
    border: 1px solid #aaaaaa;
    color: #212121;
    font-weight: normal;
}
.ui-state-active a, .ui-widget-content .ui-state-active a, .ui-widget-header .ui-state-active a{
    color: #212121;
}
/*
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #336699;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
    color: #ffffff;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active{
    background: none;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: #212121;
}*/

/*
html, body, #container { min-height: 100%; }
body > #container { height: auto; min-height: 98%; }
body > #container >.container-fluid{
    padding-bottom: 45px;
}
#content{ min-height: 500px;}*/
html, body { height: 100%; }
#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -43px;
}
footer, .push {
    height: 43px;
    clear: both;
}
footer{
    background: #E7EFF6;
    font-size:10px;
}
.total{ line-height: 25px; }

#export_options{
    display: none;
    position: absolute;
    width: 165px;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #336699;
    z-index: 9999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-height: 120px;
}
#export_options ul#export_select{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
#export_options ul#export_select li{
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
#export_options ul#export_select li:hover{
    background: #336699;
    cursor: pointer;
    color: #fff;
}
#export_options ul#export_select li.selected{
    background: #336699;
    color: #fff;
}